<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620907200380-l571sabon2nodro8dce8vdbjlr30ntni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620907200380-l571sabon2nodro8dce8vdbjlr30ntni</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>620907200380-70kqa8mbaqd9nfmp002vcob2ek0kh714.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1x2inZ7YR1zqndP4T2PH0ToXKIxcBuAk</string>
	<key>GCM_SENDER_ID</key>
	<string>620907200380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>td.webuild.ssowb</string>
	<key>PROJECT_ID</key>
	<string>smart-sso</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-sso.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620907200380:ios:01a2f6441cf06c4c192ef9</string>
	<key>DATABASE_URL</key>
	<string>https://smart-sso.firebaseio.com</string>
</dict>
</plist>